/*

Clearfix
--------

Micro clearfix, as described [here](nicolasgallagher.com/micro-clearfix-hack).
Extend the clearfix class with SCSS to avoid the `.clearfix` class appearing
over and over in your markup.

    <div class="clearfix"></div>

*/

.clearfix {
  &:before, &:after {
    content: " " !important;
    display: table !important;
  }

  &:after {
    clear: both !important;
  }

  *zoom: 1 !important;
}

/*

Is Hidden
---------

Hides an element, normally remove after some user interaction through javascript.

    <div class="is-hidden">You can't see me!</div>

*/

.is-hidden {
  display: none;
}

/* Float helpers */

.left {
  float: left;
}
.right {
  float: right;
}

/* Text align helpers */

.align-left {
  text-align: left;
}
.align-center {
  text-align: center;
}
.align-right {
  text-align: right;
}