/* Disabled cursor
   ----------------

  div.disabled {
    @include disable-select;
  }

*/

@mixin disable-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  cursor: default;
}

/* Forbidden cursor
   ----------------

  div.forbidden {
    @include forbidden-select;
  }

*/

@mixin forbidden-select {
  -webkit-user-select: not-allowed;
  -moz-user-select: not-allowed;
  cursor: not-allowed;
}


/* Retina image
   ------------
  
  div.logo {
    background: url("logo.png") no-repeat;
    @include image-2x("logo2x.png", 100px, 25px);
 }

*/

@mixin image-2x($image, $width:'', $height:'') {
  @media (min--moz-device-pixel-ratio: 1.3),
         (-o-min-device-pixel-ratio: 2.6/2),
         (-webkit-min-device-pixel-ratio: 1.3),
         (min-device-pixel-ratio: 1.3),
         (min-resolution: 1.3dppx) {
    /* on retina, use image that's scaled by 2 */
    background-image: url($image);
    @if $width != '' {
      background-size: $width $height;
    } @else {
      background-size: 100%;
    }
    
  }
}


/* Opacity
  -------- 
  
  .article-heading {
    @include opacity(0.8);
  }

*/

@mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity=$opacity-ie); //IE8
}


/* Center-align a block level element
  -----------------------------------
  
  .footer-wrap {
    width: 450px;
    @include center-block;
  }

 */

@mixin center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}


/* Text overflow
  --------------
  
  .text-truncate {
    @include text-truncate;
  }

 */

@mixin text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}


/* Absolute positioned
  --------------------

  .abs {
    @include abs-pos(10px, 10px, 5px, 15px);
  }

 */

@mixin abs-pos($top: auto, $right: auto, $bottom: auto, $left: auto) {
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
  position: absolute;
}


/* Font Size
  ----------

  body {
    @include font-size(16);
  }

 */

@mixin font-size($sizeValue: 12 ){
  font-size: $sizeValue + px; //fallback for old browsers
  font-size: (0.125 * $sizeValue) + rem;
}



/* Text replacement (instead of text-indent)
  ------------------------------------------
  
  .header h1 {
    @include text-replacement;
  }

 */

@mixin text-replacement {
  border: 0;
  color: transparent;
  font: 0/0 a;
  text-shadow: none;
}


/* Line Height
  ------------
  
  body {
    @include line-height (16);
  }

 */

@mixin line-height($heightValue: 12){
  line-height: $heightValue + px; //fallback for old browsers
  line-height: (0.125 * $heightValue) + rem;
}


/* Placeholder
  ------------

  input{
    @include placeholder-color(#FA4A4A)
  }

 */

@mixin placeholder-color($color){
  &.placeholder{
    color: $color
  }

  &:-moz-placeholder{
    color: $color
  }
    
  &::-webkit-input-placeholder{
    color: $color
  }

  &:-ms-input-placeholder{
    color: $color
  }
}

/* Clear inline-block space */

@mixin clear-inline-space {
  font-family: sans-serif;
  letter-spacing: -0.32em; /* Webkit: collapse white-space between units */
  *letter-spacing: normal; /* reset IE < 8 */
  *word-spacing: -0.43em; /* IE < 8: collapse white-space between units */
}

@mixin reset-inline {
  font-family: $base-font-family;
  letter-spacing: normal;
  word-spacing: normal;
}

/* Responsive mixin */

$units: 1px !default;

/* Example @include screen(768, 1280) { background: black; } */
@mixin screen($res-first, $res-last: $res-first) {
  @if $res-first == $res-last {
    @media screen and ( max-width: if(unitless($res-first), $res-first*$units, $res-first) ) {
      @content;
    }
  } @else if $res-first < $res-last {
    @media screen and ( min-width: if(unitless($res-first), $res-first*$units, $res-first) ) and ( max-width: if(unitless($res-last), $res-last*$units, $res-last) ) {
      @content;
    }
  }
}

/* Example: @include min-screen(320) { width: 300px; } */
@mixin min-screen($res) {
  @media screen and ( min-width: if(unitless($res), $res*$units, $res) ) {
    @content;
  }
}

@mixin responsive-sprite {
  background-size: 100%;
  display: block;
  height: 0;
}

@mixin museo-light {
  font-family: $base-font-family;
  font-weight: $museo-light;
}

@mixin museo-regular {
  font-family: $base-font-family;
  font-weight: $museo-regular;
}

@mixin museo-bold {
  font-family: $base-font-family;
  font-weight: $museo-bold;
}
