<article id="contacto" class="box contact">
  <h2 class="align-center">Si quieres que trabaje en tu proyecto, mándame un email con los detalles.</h2>
  <p class="align-center">
    <a href="mailto:contact@bebanjo.com" class="button with-shadow">Contacto</a>
  </p>
  <p class="align-center last">
    or llámame al <a href="tel:+34 647715220">(+34) 647715220</a>
  </p>
</article>