<article class="box contact">
  <h2 class="align-center">Si quieres que trabaje en tu proyecto, mándame<br>un email con los detalles.</h2>
  <p class="align-center">
    <a href="mailto:contact@bebanjo.com" class="button with-shadow">Contacto</a>
  </p>
  <p class="align-center">
    or llámame al <a href="tel:+34 914583737">(+34) 914 58 37 37</a>
  </p>
</article>