<footer>

  <div class="box">
      <ul class="menu inline">
        <li><a href="/#servicios">Servicios</a></li>
        <li><a href="/#cases">Casos de estudio</a></li>
        <li><a href="/curriculum">Curriculum</a></li>
        <li><a href="http://blog.gemaderus.com">Blog</a></li>
        <li><a href="mailto:hello@gemaderus.com">Contacto</a></li>
      </ul>
      <ul class="menu inline">
        <li><a href="http://linkedin.com/gemaderus">Linkedin</a></li>
        <li><a href="http://twitter.com/gemaderus">Twitter</a></li>
      </ul>
  </div>

  <div class="box">
    <small>© 2013 gemaderus.</small>
  </div>

</footer>
