<footer>
  <div class="box">
    <ul class="menu inline">
      <li><a class="footer-link" href="/#servicios">Servicios</a></li>
      <li><a class="footer-link" href="/resume">Curriculum</a></li>
      <li><a class="footer-link" href="http://blog.gemaderus.com">Blog</a></li>
      <li><a class="footer-link" href="/#contacto">Contacto</a></li>
    </ul>

    <ul class="menu inline">
      <li>
        <a class="footer-link" href="https://www.linkedin.com/in/gemaderus"><i class="icon-linkedin" data-aria="true"></i></a>
      </li>
      <li>
        <a class="footer-link" href="http://twitter.com/gemaderus"><i class="icon-twitter" data-aria="true"></i></a>
      </li>
      <li>
        <a class="footer-link" href="http://facebook.com/gemaderus"><i class="icon-facebook" data-aria="true"></i></a>
      </li>
    </ul>

    <p><small>© 2013 gemaderus.</small></p>
  </div>
</footer>
