<header>
  <div class="box row">

    <div class="logo">
      <h1 class="brand">gema<span>derus</span></h1>
    </div>

    <nav>
      <ul class="menu">
        <li class="<%= @selected == :home ? "active" : nil %>"><a href="/#servicios">Servicios</a></li>
        <li class="<%= @selected == :curriculum ? "active" : nil %>"><a href="/curriculum">Curriculum</a></li>
        <li><a href="http://blog.gemaderus.com">Blog</a></li>
        <li class="last"><a href="#contacto">Contacto</a></li>
      </ul>
    </nav>
    
    <a href="#" class="hamburguer"><i aria-hidden="true" class="icon-list"></i></a>

  </div>
</header>
