<% content_for :title do %>
  <title>Gema de Rus - Consultoría en marketing online y ecommerce</title>
<% end %>

<section class="claim">
  <div class="box">
    <h1>Porque ya no es suficiente con estar en Internet.</h1>
  </div>
</section>

<section class="content">
  
  <article class="services">
    <h2>Qué puedo hacer por tu negocio</h2>
    <ul class="fluid">

      <li class="column">
        <div class="media">
          <div class="media-image">
            <i class="ss-icon">laptop</i>
          </div>
          <div class="media-body">
            <h4>Without installation</h4>
            <p>All our products work through a web browser, secure and always available. Work from anywhere.</p>
          </div>
        </div>
      </li>

      <li class="column">
        <div class="media">
          <div class="media-image">
            <i class="ss-icon">phone</i>
          </div>
          <div class="media-body">
            <h4>World-class support</h4>
            <p>Got any questions? We will be there to help you. Our support team got you covered, just ask our clients.</p>
          </div>
        </div>
      </li>

      <li class="column">
        <div class="media">
          <div class="media-image">
            <i class="ss-icon">tag</i>
          </div>
          <div class="media-body">
            <h4>Only one monthly fee</h4>
            <p>Support, maintenance, upgrades and hosting. No hidden fees, when you work with us it is all included.</p>
          </div>
        </div>
      </li>
    </ul>
  </article>

  <%= erb :'_contact' %>

</section>