<% content_for :title do %>
  <title>Gema de Rus - Consultoría en marketing online y ecommerce</title>
<% end %>

<section class="claim">
  <h1>Porque ya no es suficiente con estar en Internet.</h1>
</section>

<section class="content">
  
  <article id="servicios" class="services">
    <div class="box">
    <h2>Qué puedo hacer por tu negocio</h2>
    <ul class="fluid">

      <li class="column">
        <div class="media">
          <div class="media-image">
            <div class="glyph">
              <i class="icon-directions" data-aria="true"></i>
            </div>
          </div>
          <div class="media-body">
            <h4>Estrategia</h4>
            <p>Tienes un montón de ideas y quieres hacer realidad tu proyecto. Pero tener ideas y llevarlas a cabo son cosas distintas.</p>
            <p>Analizaremos tus ideas y veremos cuáles funcionan y cuáles no. A partir de ahí crearemos una versión sencilla de tu plan de marketing.</p>
          </div>
        </div>
      </li>

      <li class="column">
        <div class="media">
          <div class="media-image">
            <div class="glyph">
              <i class="icon-graph" data-aria="true"></i>
            </div>
          </div>
          <div class="media-body">
            <h4>Consultoría</h4>
            <p>Estás desarrollando tu proyecto, pero sientes que necesitas un impulso. A veces las cosas no salen a la primera pero no por ello significa que tu proyecto no vale.</p>
            <p>Identificaremos los problemas y plantearemos las mejores soluciones en tiempo y coste</p>
          </div>
        </div>
      </li>

      <li class="column">
        <div class="media">
          <div class="media-image">
            <div class="glyph">
              <i class="icon-graduation" data-aria="true"></i>
            </div>
          </div>
          <div class="media-body">
            <h4>Formación</h4>
            <p>Quieres dedicarte al marketing online pero no sabes por donde empezar y la cantidad de contenidos hoy en día no siempre ayuda.</p>
            <p>Trazaremos un plan formativo, partiendo de conceptos básicos hasta conceptos que se aplican en proyectos reales.</p>
          </div>
        </div>
      </li>
    </ul>
    </div>
  </article>

  <%= erb :'_contact' %>

</section>