<% content_for :title do %>
  <title>Gema de Rus - Consultoría en marketing online y ecommerce</title>
<% end %>

<section class="resume">

  <div class="box">
    <div class="row">
      <div class="resume-header">
        <div class="brand-resume">
          <div class="me-brand-resume">
            <strong>Gema</strong><br>de Rus<br>Carnero
          </div>
        </div>

        <div class="title-resume">
          <strong>Consultora en<br>Marketing Online<br>y eCommerce</strong>
        </div>

        <div class="links-resume">
          <ul class="menu">
            <li><a href="http://linkedin.com/gemaderus">http://linkedin.com/gemaderus</a></li>
            <li><a href="mailto: hi@gemaderus.com">hi@gemaderus.com</a></li>
            <li><a href="tel:+34 647715220">(+34) 647715220</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="row">
      
      <div class="column">
        <div class="block">
          <p>Consultora de Marketing Online, Diplomada en Ciencias Empresariales y Máster en Digital Business por ESIC. Inquieta por todo lo que rodea el mundo digital, lo que me ha llevado a ampliar y afianzar mis conocimientos en gestión y dirección de startups y proyectos digitales.</p>
        </div>

        <div class="block">
          <h4>Busco</h4>
          <p>unirme a un equipo en el que trabajar como consultora y desarollo de estrategia de marketing digital. Quiero aprender cosas nuevas todos los días. Sentirme feliz con lo que hago, disfrutar.</p>
        </div>

        <div class="block">
          <h4>Así soy</h4>
          <p>Pensando en digital, con la vista puesta en la innovación y el emprendimiento. Resolutiva, extrovertida, perseverante, responsable y capacidad de trabajo en equipo. </p>
        </div>

        <div class="block">
          <h4>Mis habilidades</h4>
          <p>Dirección y gestión en E-commerce, dinamización de Redes Sociales, Content Management, diseño de campañas de adwords SEM, SEO, gestión web en ecommerce, logística, funciones operativas de pedidos, negociación con proveedores, compras. Experta en quemar cualquier comida a la que me acerque. Devoradora de queso y futura aficionada al vino. Mi lema: que no te la den con queso.</p>
        </div>
      </div>

      <div class="column last">
        <div class="block">
          <h4>Responsable de Compras</h4>
          <p>Frankfurt Tirol<br> 2002-2003</p>
          <p>Marketing offline, gestión de pedidos, control de stock, coordinación equipo de trabajo.</p>
        </div>

        <div class="block">
          <h4>Departamento Comercial y Marketing</h4>
          <p>Ingenia<br>2003-2005</p>
          <p>Gestión de clientes con servicios de internet, participación en proyectos del Departamento de Marketing como responsable de compras y negociación con proveedores. Funciones de facturación y gestión de cobros de clientes.  </p>
        </div>

        <div class="block">
          <h4>Responsable administración</h4>
          <p>Ingenia Gen8020<br>2006-2007</p>
          <p>Adjunta a dirección general, desarrollando tareas en el departamento de marketing y compras.</p>
        </div>

        <div class="block">
          <h4>Ecommerce Manager</h4>
          <p>Zerobolsas<br>2011-2013</p>
          <p>Mi espíritu emprendedor me llevó a aventurarme en Zerobolsas S.L. como Ecommerce Manager de la tienda online www.ponlepicante.com, desempeñando funciones de gestión de redes sociales, estrategia de contenidos en blog, desarrollo de campañas SEM, gestión de pedidos, negociación con proveedores, administración de la empresa.</p>
        </div>

      </div>
    </div>
  </div>
</section>

<section class="content">

  <%= erb :'_contact' %>

</section>