<% content_for :title do %>
  <title>Gema de Rus - Consultoría en marketing online y ecommerce</title>
<% end %>

<section class="resume">

  <div class="box">
    <div class="row">
      <div class="resume-header">
        <div class="brand-resume">
          <div class="me-brand-resume">
            <strong>Gema</strong><br>de Rus<br>Carnero
          </div>
        </div>

        <div class="title-resume">
          <strong>Consultora en<br>Marketing Online<br>y eCommerce</strong>
        </div>

        <div class="links-resume">
          <ul class="menu">
            <li><a href="http://linkedin.com/gemaderus">http://linkedin.com/gemaderus</a></li>
            <li><a href="mailto: hi@gemaderus.com">hi@gemaderus.com</a></li>
            <li><a href="tel:+34 647715220">(+34) 647715220</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="row">
      
      <div class="column">
        <div class="block">
          <p>As a creative web developer with a strong technological foundation, I have demonstrated success in inventive problem solving. My resourcefulness and ability to learn quickly benefits my teammates and I thrive in collaborative environments. I have a passion for researching the latest trends, excel in their implementation, and love to create compelling web sites and user experiences.</p>
        </div>

        <div class="block">
          <h4>I am seeking to</h4>
          <p>join a badass team as a frontend developer at fun projects. Learning something new every day. Inspire and be inspired. Be happy.</p>
        </div>

        <div class="block">
          <h4>I have led projects for companies like</h4>
          <p>Roca, Carolina Herrera, Basf, Philips, Volkswagen, MSF, Springfield...</p>
        </div>

        <div class="block">
          <h4>My abilities include</h4>
          <p>thinking in code, front programming, but I am also skilled in backend development. You can get a sample of my code at <a href="#">https://github.com/nobuti</a></p>
        </div>

        <div class="block">
          <h4>I am proficient in</h4>
          <p>Frontend development, including HTML, CSS, SASS, Javascript, Sublime Text 2 and Git. I am in the process of learning Ruby and improving my coding's skills. Jam&cheese sandwiches. My highest underwater score is 2.15 min.</p>
        </div>
      </div>

      <div class="column last">
        <div class="block">
          <h4>Creative Programmer</h4>
          <p>Ingenia Gen8020<br> 2002-2007</p>
          <p>An internship turned into my first full time programmer position. Responsibilities included developing interactive interfaces for corporate websites, web applications and online tools, mainly with Adobe Flash and actionscript, but also HTML/CSS/JS websites.</p>
        </div>

        <div class="block">
          <h4>Interactive Director</h4>
          <p>Ingenia Gen8020<br>2007-2009</p>
          <p>Promoted to led projects marking the interactive path in base to clients needs.</p>
        </div>

        <div class="block">
          <h4>Freelance</h4>
          <p>Nicemondays<br>2009-today</p>
          <p>We work for agencies, our business is to make things easier for them. We come from very nice agencies but we know how hard life is sometimes.We can help creating whatever you think could happen on a screen, from a simple banner design to a robust backend development.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="content">

  <%= erb :'_contact' %>

</section>