.claim {
  @extend %bottom-line;
  @include responsive-sprite;
  background-image: url("/images/background-mobile.jpg");
  @include image-2x("/images/background-mobile@2x.jpg", 320px, 213px);
  background-position: 0 0;
  background-repeat: no-repeat;
  padding-bottom: 66%;
  margin-bottom: $base-line-height;

  h1 {
    @extend %museo-light;
    background-color: $orange;
    color: $white;
    font-size: $h1-font-size - 16;
    float: left;
    margin-top: 100px;
    padding: 4px 8px;
    width: 225px;
  }
}

.claim {
  @include min-screen(451px) { 
    background-image: url("/images/background.jpg");
    @include image-2x("/images/background@2x.jpg", 1500px, 662px);
    background-position: 0 50%;
    padding-bottom: 44%;

    h1 {
      @include museo-regular;
      @include text-shadow(0 0 12px darken($white, 45%));
      background-color: transparent;
      font-size: $h1-font-size;
      margin-top: 12%;
      text-align: center;
      width: 100%;
    }
  }
  
  @include min-screen(545px) {
    h1 {
      font-size: $h1-font-size + 4;
    }
  }

  @include min-screen(781px) { 
    padding-bottom: 30%;
  }

  @include min-screen(980px) { 
    h1 {
      font-size: $h1-font-size + 12;
    }
  }


}