.container {
  overflow: hidden;
  position: relative;
  width: 100%;
}

header, footer {
  width: 100%;
}

header {
  @extend %bottom-line;
  .logo, nav {
    @extend %reset-inline;
  }

  nav {
    @include box-shadow(4px 0 0 $orange-dark inset);
    @include transition(right 0.2s ease-out);
    background-color: $orange;
    height: 100%;
    padding: 20px 20px 0;
    position: absolute;
    right: -200px;
    top: 0;
    width: 200px;
    
    &.open {
      right: 0;

      & + .hamburguer {
        right: 220px;
      }
    }

    li {
      font-size: $base-font-size + 2;
      margin-bottom: 10px;

      a {
        color: $white;
      }
    }
  }
}

.logo {
  display: table-cell;
  height: 60px;
  vertical-align: middle;
}
.brand {
  @extend %museo-bold;
  font-size: $h1-font-size - 4;
  margin: 0;
  span {
    @extend %museo-light;
  }
}

header {
  @include screen(520, 780) { 
    
  }
}

