/*

Heading
-------

    <h1 class="h2">This is a header</h1>

*/

h1 {
  @include museo-bold;
  color: $black;
  font-size: $h1-font-size;
  line-height: 1.2;
}

h2 {
  @include museo-bold;
  color: $black;
  font-size: $h2-font-size;
  line-height: 1.2;
}


h3 {
  @include museo-bold;
  color: $black;
  font-size: $h3-font-size;
  line-height: 1.2;
}

h4 {
  @include museo-bold;
  color: $black;
  font-size: $h4-font-size;
  line-height: 1.2;
}

h5 {
  @include museo-bold;
  color: $black;
  font-size: $h5-font-size;
  line-height: 1.2;
}

h6 {
  @include museo-bold;
  color: $black;
  font-size: $h6-font-size;
  line-height: 1.2;
  text-transform: uppercase;
}